
<!DOCTYPE html>
<html>
  <%- include('partials/head', { title }) %>
  <body>
    <div class="container">
      <%- include('partials/search') %>
      <div class="artist-cards">
        <% artists.forEach(function(artist) { %>
        <a href="/artists/<%= encodeURIComponent(artist.name) %>">
          <div class="artist-card">
              <img src="<%= artist.photoUrl %>" alt="<%= artist.name %>">
          </div>
        </a>
        <% }); %>
      </div>
    </div>
  </body>
</html>